/* Styles applied via tag names */
a {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-align: center;
  margin-bottom: 0.75em;
  color: #0d6a71;
  font-size: 2.7em;
  max-width: 90%;
}

h3 {
  margin-bottom: 0.2em;
}

li {
  cursor: pointer;
}

option {
  color: #333;
  font-size: 1em;
}

select {
  cursor: pointer;
  margin-bottom: 0.11em;
  margin-top: 0.15em;
  /* Source: https://color.adobe.com/soft-orange-color-theme-49345/ */
  color: #ff7a00;
  font-size: 1.1em;
  font-weight: 600;
  border: 2.2px solid lightblue;
  border-radius: 3px;
  padding: 0.2em;
}

/* Consulted for styling list: https://stackoverflow.com/a/1027367 */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

/* Styles applied via class names */
/* Source consulted for flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.container {
  display: flex;
  flex-wrap: wrap;
}

.filter-options-label {
  font-size: 1.35em;
}

.infowindow-container {
  align-items: center;
  flex-direction: column;
  max-width: 25em;
}

.infowindow-main-text {
  text-align: center;
  font-weight: 600;
}

.infowindow-main-text a {
  display: inline;
  clear: none;
}

.locations-list-button {
  background: #fff;
  border: 1px solid #03233a;
  border-radius: 2px;
  color: darkslategray;
  font-weight: 600;
  font-size: 0.9em;
  margin: 0.2em;
  padding: 0.2em;
}

.list-view-container {
  width: 15em;
  margin: 0.2em 0.75em 0.5em 0.75em;
  font-weight: 600;
  color: #222;
}

.main-container {
  width: 75%;
}

.map-loading-message, .map-load-error-message {
    /* https://color.adobe.com/gold-color-scheme-burnt-orange-color-palette-color-theme-9841276/ */
    color: #370526;
    margin: auto;
    width: 65%;
  }

.map-view-container {
  min-width: 290px;
  margin: 0.1em;
}
