/* Sources: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ 
   https://color.adobe.com/soft-orange-color-theme-49345/
   https://color.adobe.com/Teal-color-theme-2519833/
   https://stackoverflow.com/a/1027367
*/

/* Styles applied via tag names */
a {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  text-align: center;
  margin-bottom: 0.75em;
  color: #0d6a71;
  font-size: 2.7em;
  max-width: 90%;
}

li {
  cursor: pointer;
}

option {
  color: #333;
  font-size: 1em;
}

select {
  cursor: pointer;
  margin-bottom: 0.22em;
  margin-top: 0.3em;
  color: #ff7a00;
  font-size: 1.1em;
  border: 2.2px solid lightblue;
  border-radius: 3px;
}

/* Consulted for styling list: https://stackoverflow.com/a/1027367 */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

/* Styles applied via class names */
.container {
  display: flex;
  flex-wrap: wrap;
}

.filter-options-label {
  font-size: 1.35em;
}

.infowindow-container {
  align-items: center;
  flex-direction: column;
  max-width: 25em;
}

.infowindow-main-text {
  text-align: center;
  font-weight: 600;
}

.infowindow-main-text a {
  display: inline;
  clear: none;
}

.list-view-container {
  width: 15em;
  margin: 0.2em 0.75em 0.5em 0.75em;
  font-weight: 600;
  color: #222;
}

.main-container {
  width: 75%;
}

.map-view-container {
  min-width: 290px;
  margin: 0.1em;
}
